## lorax template file: populate the ramdisk (runtime image)
## <%page args="basearch, product, root, installer_dir, boot_type, github_repository_owner, grub_cfg_template, boot_menu_template"/>
<%page args="basearch, product, root, installer_dir"/>
<%
# Version 1:2.06-3 of grub2 moves the font directory and is needed to keep the efi template from failing.
# Version 1:2.06-67 of grub2 includes all needed modules in the signed core.elf for ppc64le
GRUB2VER="1:2.06-67"
%>

runcmd bash -c 'echo $PWD | tee /tmp/test.alex.txt' 
runcmd bash -c 'ls ${root} | tee /tmp/ls.log'
runcmd cp -rp ${installer_dir} ${root}/run/installer
